@use "../../styles/partials/resets" as *;
@use "../../styles/partials/fonts" as *;

.Tasks__Container {
    font-family: 'Arima', cursive;
    font-weight: 500;
}

.task__item {
    border: .0625rem solid #ededed;
    border-radius: .3125rem;
    padding: .625rem;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__trash {
        color: red;
        cursor: pointer;
    }
}


