@use "../../styles/partials/resets" as *;
@use "../../styles/partials/fonts" as *;

.title {
    font-family: 'Arima', cursive;
    font-weight: 900;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    width: 31.25rem;
    margin: 1.25rem 0;
}