@use "../../styles/partials/resets" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;

.TaskBtn {

    &__btn {
        font-family: 'Arima', cursive;
        font-weight: 900;
        font-size: 1rem;
        width: 100%;
        margin: 1.25rem 0;
        border-radius: .3125rem;
        border-width: .0625rem;
        padding: .625rem;
        background-color: $btn-background-color;
    }
}